*{
  padding: 0;
  box-sizing: border-box;
}

.grid{
  width: 1170px;
  margin: 0 auto;
}

.grid-form{
  width: 770px;
  margin: 0 auto;
}

//.section__header:before{
//
//}
//
//.layout-symbol{
//  font-size: 60px;
//}