// Fonts
$fnt-gotham: 'Gotham', sans-serif;
$fnt-gotham-bold: 'Gotham-Bold', sans-serif;
$fnt-open-sans: 'Open Sans', sans-serif;
//$fnt-icons: 'icomoon';

//Colors
$color_white: #fff;
$color_hover: #FF4500;
$color-dark-gray: #2c4058;
$color-light-gray: #4b5562;
$color-shadow-blue: #55b7ff;
$color-shadow-violet: #7e5aff;

// path
$path-img: '../img/';